<!DOCTYPE html>
<html lang="en" style="position: relative; min-height: 100%;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <script src="fontawesome.js" crossorigin="anonymous"></script>
    <title>Universus - Universal Media Downloader</title>
  </head>
  <body style="margin-bottom: 40px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="universus_logo.png" alt="Universus logo" width="35" height="35" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="navbar-nav d-flex flex-row me-2 d-lg-inline d-none">
        <li class="nav-item me-2">
          <a class="nav-link" style="font-size: 25px;" href="https://github.com/willuhm-js/Universus" target="_blank"><i class="fab fa-github"></i></a>
        </li>
      </ul>
    </nav>
    <div class="container mt-3">
      <div class="row">
        <div class="col">
        <div class="card flex-md-row">
          <% if (mediaData.thumbnail) { %>
            <img src="<%= mediaData.thumbnail.url %>" class="d-none d-md-inline" style="width: <%= mediaData.thumbnail.width * 2%>px; height: <%= mediaData.thumbnail.height * 2 %>px;"/>
          <% } %>
            <div class="card-body ms-1">
              <h3 class="card-title"><%= mediaData.title %></h3>
              <h4><i style="color: #ff0000;" class="fab fa-<%= mediaData.platform.toLowerCase() %> me-2"></i><%= mediaData.platform %></h4>
              <form method="POST" action="/download">
              <input name="url" value="<%= mediaData.link %>" type="hidden"/>
              <input name="platform" value="<%= mediaData.platform %>" type="hidden"/>
                <div class="d-lg-flex">
                  <!-- youtube video options -->
                  <div class="mt-3 me-lg-3">
                    <h4>Video</h4>
                    <div class="btn-group" role="group" ara-label="Video options">
                      <input type="submit" name="format" value="MP4" class="btn btn-dark"/>
                      <input type="submit" name="format" value="MOV" class="btn btn-dark"/>
                      <input type="submit" name="format" value="WEBM" class="btn btn-dark"/>
                    </div>
                  </div>
                  <!-- youtube audio options -->
                  <div class="mt-3 me-lg-3">
                    <h4>Video</h4>
                    <div class="btn-group" role="group" ara-label="Video options">
                      <input type="submit" name="format" value="OGG" class="btn btn-dark"/>
                      <input type="submit" name="format" value="WAV" class="btn btn-dark"/>
                      <input type="submit" name="format" value="MP3" class="btn btn-dark"/>
                    </div>
                  </div>
                </div> <!-- end of buttons -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer class="p-1 text-center" style="position: absolute; bottom: 0; width: 100%; height: 40px;">
      <p style="color: 333333;">Copyright © <%= new Date().getFullYear() %> | All Rights Reserved</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>
